version: '3.8'
services:
  oracle:
    image: gvenzl/oracle-xe:21-slim
    container_name: oracle_db
    restart: always
    environment:
      ORACLE_PASSWORD: root
      APP_USER: usuario
      APP_USER_PASSWORD: usuario123
    ports:
      - "1521:1521"
    volumes:
      - oracle_data:/opt/oracle/oradata
volumes:
  oracle_data: